/* Import Police */
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
/* Reset CSS*/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
:root {
    /* Color variables */
    --main-blue: #0065fc;
    --main-red: #9d3e0c;
    --lite-blue: #deebff;
    --lite-gray: #f2f2f2;
    --main-black: #000;
    --main-white: #fff;

    /* FONT */
    --main-font: "Play", sans-serif;

    /* Text color variables */
    --color-primary: var(--main-black);
    --color-secondary: var(--main-white);
}

/* HTML Settings */
html {
    scroll-behavior: smooth;
}

/*** Main Settings ***/
.main__container {
    max-width: 1400px;
    min-height: 100vh;
    font-family: var(--main-font);
    margin: 0 auto;
    background: url(img/capture-2.png);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 50% 90%;
}

/*** Setting Header ***/
.header__container {
    min-width: 100%;
    height: 110px;
    background-color: var(--main-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 150px;
    height: auto;
    margin-left: 10px;
}
/* Setting Nav Menu */
.header__nav__bar {
    width: auto;
    display: flex;
    align-items: center;
}
.header__nav__list {
    display: flex;
    flex-direction: row;
}
.header__nav__item {
    margin-right: 30px;
}
.header__nav__item:last-child {
    margin-right: 10px;
}
.header__nav__link {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--main-font);
    color: var(--main-black);
    transition: all ease-in-out 200ms;
    position: relative;
}
.header__nav__link:hover {
    color: var(--main-red);
}
.header__nav__link::before {
    content: "";
    position: absolute;
    background-color: var(--main-red);
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}
.header__nav__link:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
}
.main__container h1{
    text-align: center;
}
